// COLOR SCHEME

// BACKGROUND POSSIBILITIES  (DARKEST)
body {
  background: #121212; // WINNING
}

.middle-grays-for-sidebars-and-nav {
  background: #777777; // BETWEEN NAV AND FONTS
  background: #3d3d3d; // WINNING
}

// FONTS  (LIGHTEST)
.primary-font {
  color: #e4e6eb; // WINNING
}

.secondary-font {
  color: #bfbfbf; // WINNING
}

// ACCENT COLORS
.accents {
  color: #ffae03; // 2
  color: #3ed584; // 3
  color: #c1666b; // ERROR MESSAGING
  color: #25ced1;
  color: #8eb359; // SUCCESS MESSAGING
  color: #7353ba;
  color: #009ffd; // 1
}
